.dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    background-color: #f9f9f9;
    /* min-height: 100vh; */
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.253);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalSummary {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.summaryCard {
    background: white;
    border-radius: 8px;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    gap: 50px;
    text-align: center;
    flex: 1 1 200px;  
    max-width: 500px;  
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.253);
    padding-top: 1.5rem;
}

.summaryTitle {
    font-size: 0.9rem;
    color: #777;
}

.summaryAmount {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.all {
    color:#000000;
    background-color: rgb(222, 133, 60);
}

.all:hover, .paid:hover, .pending:hover, .open:hover, .overdue:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
} 


.paid {
    color: #000000;
    background-color: #a4ddc3;
}



.pending {
    color: #000000;
    background-color: #fff3cd;
}



.overdue {
    color: #000000;
    background-color: #e04e4e;
}


.open {
    color: #000000;
    cursor: pointer;
    background-color: #83bfe9;
}


.invoiceList {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
