.dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    background-color: #f9f9f9;
    /* min-height: 100vh; */
    min-width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalSummary {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.summaryCard {
    background: white;
    padding: 0.5rem 5rem;
    border-radius: 8px;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    text-align: center;
}

.summaryTitle {
    font-size: 0.9rem;
    color: #777;
}

.summaryAmount {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.all {
    cursor: pointer;
    
}

/* .all:hover{
    background-color: rgb(134, 80, 36);
    color: rgb(75, 46, 16);
} */


.paid {
    background-color: #ffffff;
    color: #000000;
}

.paid:hover {
    background-color: #d1e7dd;
    color: #0f5132;
    cursor: pointer;
}

.pending {
    background-color: #ffffff;
    color: #000000;
}

.pending:hover {
    background-color: #fff3cd;
    color: #664d03;
    cursor: pointer;
}

.overdue {
    background-color: #ffffff;
    color: #000000;
}

.overdue:hover {
    background-color: #e04e4e;
    color: #410e0d;
    cursor: pointer;
}

.open {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.open:hover {
    background-color: #83bfe9;
    color: #0c3a4f;
    cursor: pointer;
}

.invoiceList {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
