.dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    background-color: #f9f9f9;
    /* min-height: 100vh; */
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.253);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalSummary {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.summaryCard {
    background: white;
    border-radius: 8px;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    gap: 50px;
    text-align: center;
    flex: 1 1 200px;  
    max-width: 300px;  
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.253);
}

.summaryTitle {
    font-size: 0.9rem;
    color: #777;
}

.summaryAmount {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.all {
    color:#000000;
}

.all:hover{
    background-color: rgb(222, 133, 60);
    color: rgb(65, 38, 17);
    cursor: pointer;
} 


.paid {
    color: #000000;
}

.paid:hover {
    background-color: #a4ddc3;
    color: #0f5132;
    cursor: pointer;
}

.pending {
    color: #000000;
}

.pending:hover {
    background-color: #fff3cd;
    color: #664d03;
    cursor: pointer;
}

.overdue {
    color: #000000;
}

.overdue:hover {
    background-color: #e04e4e;
    color: #410e0d;
    cursor: pointer;
}

.open {
    color: #000000;
    cursor: pointer;
}

.open:hover {
    background-color: #83bfe9;
    color: #0c3a4f;
    cursor: pointer;
}

.invoiceList {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
